<!DOCTYPE html>
<html>
<body>
	<div>
		<h3>Hallo <%= @user.email %></h3>
		=================================================
		<br>
		<p>There is a request of materils for Order <%= @request.order.invoice %>, please check immediately!</p>
		<%= link_to "Detail Request Materials", detail_request_web_admin_materials_url(@request) %>
	</div>
</body>
</html>