<!DOCTYPE html>
<html>
<body>
	<div style="font-size: 16px;">
		<h3>Hallo <%= @user.email %></h3>
		=================================================
		<br>
		<% if !@request.status.eql?("reject") %>
			<% if @request.status.eql?("approve") %>
				<p>Your material request has been Approve!</p>
			<% else %>
				<p>Your material request has been Approve! With some still on pending!</p>
			<% end %>
		<% else %>
			<p>Your material request has been <b>DECLINE</b>  !</p>
		<% end %>
		<%= link_to "Detail Request Materials", detail_request_web_admin_materials_url(@request) %>
	</div>
</body>
</html>