<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_web_admin_customers_path, method: "post") do |f| %>
        <div class="section-title mt-0">Tambah Customer Baru</div>
        <div class="row">
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Nama Lengkap</label>
              <%= text_field_tag :full_name, "", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Company Name</label>
              <%= text_field_tag :company_name, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Email</label>
              <%= email_field_tag :email, "", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Card Id</label>
              <%= text_field_tag :id_card, "", class: "form-control only-numbers", required:true, maxlength: 16 %>
            </div>
          </div>
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Personal Contact</label>
              <%= text_field_tag :phone_number, "", class: "form-control only-numbers", required:true, maxlength: 13 %>
            </div>
          </div>
          <div class="col-4 col-md-4 col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Company Contact</label>
              <%= text_field_tag :company_phone, "", class: "form-control only-numbers", maxlength: 13 %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <label>Alamat</label>
            <%= text_area_tag :address, "", class: "form-control"%>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
