<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Card Id</th>
            <th>Full Name</th>
            <th>Contact</th>
            <th>Company Name</th>
            <th>Company Contact</th>
            <th>Email</th>
            <th>Order On Going</th>
            <th>Order Total</th>
            <th width="200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |customer, i| %>
            <tr>
              <td class="text-center align-middle">
                <%= i + 1 %>
              </td>
              <td class="align-middle"><%= customer.id_card %></td>
              <td class="align-middle"><%= customer.full_name %></td>
              <td class="align-middle"><%= customer.phone_number %></td>
              <td class="align-middle"><%= customer.company_name %></td>
              <td class="align-middle"><%= customer.company_phone %></td>
              <td class="align-middle"><%= customer.email %></td>
              <td class="align-middle"><%= customer.orders.active.on_going.count.zero? ? '<div class="badge badge-warning">False</div>'.html_safe : '<div class="badge badge-success">True</div>'.html_safe  %></td>
              <td class="align-middle"><div class="badge badge-info"><%= customer.orders.active.count %></div></td>
              <td>
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                  <%= link_to "<i class='far fa-edit'></i> Detail Customer".html_safe, detail_web_admin_customers_path(customer), class: "btn btn-info" %>
                  <%= link_to "<i class='far fa-edit'></i> Edit Customer".html_safe, edit_web_admin_customers_path(customer), class: "btn btn-warning" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
