<div class="card">
  <div class="card-body">
    <div class="section-title mt-0">Customer's Data</div>
    <div class="col-12 col-md-12 col-lg-12">
      <table class="table table-bordered" style="font-size: 16px;">
        <tr>
          <td width="15%">Id</td>
          <td width="5%">:</td>
          <td width="30%"><%= @customer.id_card %></td>
          <td width="15%">Nama</td>
          <td width="5%">:</td>
          <td width="30%"><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td><%= @customer.email %></td>
          <td>Personal Contact</td>
          <td>:</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>Company Name</td>
          <td>:</td>
          <td><%= @customer.company_name %></td>
          <td>Company Contact</td>
          <td>:</td>
          <td><%= @customer.company_phone %></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
    <hr>
    <div class="section-title mt-0">Customer Order's</div>
    <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Invoice</th>
            <th>Status</th>
            <th>Total Quantity</th>
            <th>Down Payment</th>
            <th>Total</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @customer.orders.each_with_index do |order, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= order.invoice %></td>
              <td><%= get_badge_order(order.order_status.upcase).html_safe %></td>
              <td><%= order.total_qnt %></td>
              <td>Rp <%= number_with_delimiter(order.down_payment.to_i, delimiter: ".") %></td>
              <td>Rp <%= number_with_delimiter(order.total.to_i, delimiter: ".") %></td>
              <td><%= order.updated_at.strftime("%d %B %Y at %l:%M %P") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
