<section class="section">
  <div class="section-header">
    <h1>Absent of <%= current_user.personnel.full_name %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
      <%# <div class="breadcrumb-item"><a href="#">Layout</a></div>
      <div class="breadcrumb-item">Default Layout</div> %>
    </div>
  </div>

  <div class="section-body">
    <%= render "layouts/webadmin/maintop" %>
    <div class="card">
        <div class="card-header">
            <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <h4>Filter Data</h4>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-sm-12 p-0">
            <form class="form-inline float-right w-100 filter-form">
                <% if params[:filter].present? and !@filter.nil? %>
                <%= select_date(@filter, :prefix => 'filter', order: [:month, :year], start_year: @filter.year, end_year: 2000, with_css_classes: {month: "form-control mb-2 pr-1", year: "form-control mb-2", discard_day: true } ) %>
                <% else %>
                <%= select_date(Time.now, :prefix => 'filter', order: [:month, :year], start_year: Date.today.year, end_year: 2000, with_css_classes: {month: "form-control mb-2 pr-1", year: "form-control mb-2", discard_day: true } ) %>
                <% end %>
                <button type="submit" class="btn btn-dark h-100 mb-2 float-right font-weight-bold"><i class='far fa-eye'></i> Terapkan</button>
            </form>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                <%= link_to "<i class='fas fa-sync-alt'></i> Reset Filter".html_safe, web_admin_absent_path, class: "btn btn-light font-weight-bold" %>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-sm-12 float-right download-button">
                <%= link_to "<i class='fas fa-download'></i> Download All Data".html_safe, order_web_admin_reports_path(format: :xlsx, :query => "all"), class: "btn btn-danger float-right font-weight-bold" %>
                <%= link_to "<i class='fas fa-download'></i> Download Selected Month".html_safe, order_web_admin_reports_path, class: "btn btn-info float-right mr-3 font-weight-bold", onclick: "addURL(this)" %>
            </div>
            </div>
            <hr>
            <div class="table-responsive">
            <table class="table table-striped dataTables font-15" id="dataTables">
                <thead>
                <tr>
                    <th class="text-center"  width="50px">
                    #
                    </th>
                    <th>Absent Date</th>
                    <th>Status</th>
                    <th>Extra Hour</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <% @absents.each_with_index do |absent, i| %>
                    
                <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
  </div>
</section>
