<section class="section">
  <div class="section-header">
    <h1>Dashboard - Hello, <%= current_user.personnel.present? ?  current_user.personnel.full_name : current_user.email  %>!</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
      <%# <div class="breadcrumb-item"><a href="#">Layout</a></div>
      <div class="breadcrumb-item">Default Layout</div> %>
    </div>
  </div>

  <div class="section-body">
    <%= render "layouts/webadmin/maintop" %>
    <div class="card">
      <div class="card-header">
        <h4>Statistic</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card card-statistic-2 font-weight-bold">
              <div class="card-stats card-dash">
                <div class="card-stats-title">Product Order Status</div>
                <div class="card-stats-items">
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @orders.where(order_status: [0..3]).count %></div>
                    <div class="card-stats-item-label">Pending</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @orders.where(order_status: [4..7]).count %></div>
                    <div class="card-stats-item-label">On Production</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @orders.where(order_status: 8).count %></div>
                    <div class="card-stats-item-label">Completed</div>
                  </div>
                </div>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-dolly"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Total All Orders</h4>
                </div>
                <div class="card-body">
                  <%= @orders.count %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card card-statistic-2 font-weight-bold">
              <div class="card-stats card-dash">
                <div class="card-stats-title">Material Transaction Status</div>
                <div class="card-stats-items font-weight-bold">
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @material_transactions.where(order_status: 0).count %></div>
                    <div class="card-stats-item-label">Pending</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @material_transactions.where(order_status: 1).count %></div>
                    <div class="card-stats-item-label">Payment Pending</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @material_transactions.where(order_status: 2).count %></div>
                    <div class="card-stats-item-label">Paid</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count"><%= @material_transactions.where(order_status: 3).count %></div>
                    <div class="card-stats-item-label">Completed</div>
                  </div>
                </div>
              </div>
              <div class="card-icon shadow-primary bg-success">
                <i class="fas fa-truck"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Total All Transaction</h4>
                </div>
                <div class="card-body">
                  <%= @material_transactions.count %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-stats card-dash">
                <div class="card-stats-title">Production Status</div>
                <div class="card-stats-items">
                  <% ProductionLog.progress_statuses.each do |stat| %>
                    <div class="card-stats-item">
                      <div class="card-stats-item-count"><%= @productions.where(progress_status: stat.second).count %></div>
                      <div class="card-stats-item-label font-weight-bold"><%= stat.first.capitalize %></div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="card-icon shadow-primary bg-danger">
                <i class="fas fa-industry"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Total Order in Production</h4>
                </div>
                <div class="card-body">
                  <%= @productions.count %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
