<section class="section">
  <div class="section-header">
    <h1>Profil of <%= current_user.personnel.full_name %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
      <%# <div class="breadcrumb-item"><a href="#">Layout</a></div>
      <div class="breadcrumb-item">Default Layout</div> %>
    </div>
  </div>

  <div class="section-body">
    <%= render "layouts/webadmin/maintop" %>
    <div class="card">
      <div class="card-body">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="section-title mt-0">Ubah Profil Anda</div>
          <div class="row">
            <div class="col-6 col-md-6 col-lg-6 col-sm-12">
              <%= form_tag(web_admin_update_profile_path, method: "post") do |f| %>
              <div class="form-group">
                <label>Nama Lengkap</label>
                <%= text_field_tag :full_name, @user.personnel.full_name, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Email</label>
                <%= email_field_tag :email, @user.email, class: "form-control", required: true %>
              </div>
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Position</label>
                    <%= text_field_tag :full_name, @user.personnel.position.gsub("_", " ").split.map(&:capitalize)*' ', class: "form-control", disabled: "" %>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <%= text_field_tag :phone_number, @user.personnel.phone_number, class: "form-control", required:true, id:"only-numbers", maxlength: 13 %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Gender</label>
                    <%= select_tag :gender, options_for_select(Personnel.genders.map {|k, v| [k.humanize.capitalize, k]}, @user.personnel.gender), class: "form-control", value: @user.personnel.gender %>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Birth Date</label>
                    <%= date_field_tag :birth_date, @user.personnel.birth_date.strftime("%Y-%m-%d"), class: "form-control", required:true, id:"only-numbers", maxlength: 13 %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                  <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
                  <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
                </div>
              </div>
              <% end %>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-sm-12">
              <%= form_tag(web_admin_update_password_path, method: "post") do |f| %>
                <div class="form-group">
                  <label>Password Lama</label>
                  <%= password_field_tag :old_password, "", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <label>Password Baru</label>
                  <%= password_field_tag :new_password, "", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <label>Konfirmasi Password Baru</label>
                  <%= password_field_tag :confirm_password, "", class: "form-control", required: true %>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                    <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
                    <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-whitesmoke">
        This is card footer
      </div>
    </div>
  </div>
</section>
