<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.email %></h1>
    <p>
      Access to app under following URL: <%= link_to @url, user_session_url  %>.
      Here is your temporary password to access:
    </p>
    <p>
      <%= @user.temp_password %>
    </p>
    <br>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
