<% if resource.errors.any? %>
  <div id="error_explanation">
  <% resource.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-has-icon" style="background-color: #ffc9c6; color: #ff0d00; border: 1px solid #ff0d00;">
      <div class="alert-icon"><i style="font-size: 22px;" class="fas fa-exclamation"></i></div>
      <div class="alert-body">
        <p style="font-size: 14px"><b><%= message %></b></p>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
