/* line 1, app/assets/stylesheets/login.scss */
.login,
.image {
  min-height: 100vh;
}

/* line 6, app/assets/stylesheets/login.scss */
.bg-image {
  background-image: url("landing/bg-cloth-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 13, app/assets/stylesheets/login.scss */
.bg-image-overlay {
  background-color: rgba(50, 50, 50, 0.3);
  width: 100%;
  height: 100%;
}

/* line 19, app/assets/stylesheets/login.scss */
.bg-white {
  background-color: #fff;
}

/* line 23, app/assets/stylesheets/login.scss */
.form-control {
  border: 1px solid #2e4477;
  border-radius: 0.2rem;
}
