<div class="modal fade" id="updateOrderTransaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= form_tag(update_finish_production_web_admin_orders_path, method: "post", multipart: true) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="invoice" class="col-form-label">Invoice:</label>
            <%= text_field_tag :invoice, "", class: "form-control", required:true, id:"invoice", readonly: "" %>
          </div>
          <div class="form-group">
            <label for="invoice" class="col-form-label">Status:</label>
            <%= text_field_tag :status, "", class: "form-control", required:true, id:"status", readonly: "" %>
          </div>
          <div class="form-group" id="shipping_invoice">
            <label for="invoice" class="col-form-label">Shipping Invioce:</label>
            <%= text_field_tag :shipping_invoice, "", class: "form-control", required:true, id:"shipment_invoice" %>
          </div>
          <div class="form-group" id="kurir">
            <label for="kurir" class="col-form-label">Courier:</label>
            <%= select_tag :kurir, options_for_select(Order.kurirs.map {|k, v| [k.humanize.upcase, k]}), class: "form-control" %>
          </div>
          <div class="form-group" id="payment-upload">
            <label>Invoice / Transfer Proof Image</label>
            <div class="custom-file">
              <%= file_field_tag :image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "customFile"  %>
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-light" id="upload" name="inv"><i class="fas fa-upload"></i> Ubah Status</button>
      </div>
    </div>
  </div>
  <% end %>
</div>