<div class="modal fade" id="updateCategory" tabindex="-1" role="dialog" aria-labelledby="modalUpdateCategory" aria-hidden="true">
  <%= form_tag(update_web_admin_categories_path, method: "post", multipart: true) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUpdateCategory">Update Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="invoice" class="col-form-label">Nama:</label>
            <%= text_field_tag :name, "", class: "form-control", required:true, id:"categoryName"%>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-light" id="categoryButton" name="category"><i class="fas fa-upload"></i> Update Category</button>
      </div>
    </div>
  </div>
  <% end %>
</div>