<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_web_admin_productions_path, method: "post", multipart: true) do |f| %>
        <div class="alert alert-warning alert-has-icon">
          <div class="alert-icon"><i style="font-size: 20px;" class="fas fa-info-circle"></i></div>
          <div class="alert-body">
            <div class="alert-title">Attention</div>
            <p style="font-size: 15px;">Production work must be in accordance with the orders. The orders are....</p>
            <ul class="list-inline" style="font-size: 18px;">
              <% ProductionLog.progress_statuses.each_with_index do |val, i| %>
                <li class="list-inline-item font-weight-bold"><%= val[0].to_s.capitalize %>  <%= ProductionLog.progress_statuses.length.eql?(i+1) ? "" : "->" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="alert alert-info alert-has-icon">
          <div class="alert-icon"><i style="font-size: 18px;" class="fas fa-eye"></i></div>
          <div class="alert-body">
            <div class="row ">
              <div class="col-12 col-md-12">
                <div class="alert-title float-left">Check current order production's log!</div>
                <button type="button" class="btn btn-light float-right font-weight-bold" style="font-size: 14px;" data-toggle="modal" data-target="#modalLogs"><i class="fas fa-eye"></i> Check Log</button>
              </div>
            </div>
          </div>
        </div>
        <div class="section-title mt-0">Add Production Progress</div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Product</label>
              <select class="form-control" id="orderItem" name="item">
                <% @order_items.order(id: :asc).each do |item| %>
                  <option value="<%= item.id %>"><%= item.product.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 col-sm-12">
            <div class="form-group">
              <label>Size Select</label>
              <select class="form-control" id="productSize" name="size">
                <% @order_items.first.order_item_sizes.each do |size| %>
                  <option value="<%= size.id %>"><%= size.product_size.size %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 col-sm-12">
            <div class="form-group">
              <label>Status</label>
              <select class="form-control" name="progress_status">
                <% ProductionLog.progress_statuses.each do |status| %>
                  <% if !status[0].eql?("complete") %>
                      <option value="<%= status[0] %>"><%= status[0].humanize.capitalize %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-md-3 col-lg-3 col-sm-12">
            <div class="form-group">
              <label>Quantity</label>
              <%= text_field_tag :quantity, @order_items.first.order_item_sizes.first.quantity, class: "form-control", id: "quantity", required: true, readonly: "", disabled: true %>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 col-sm-12">
            <div class="form-group">
              <label>Quantity Done</label>
              <%= text_field_tag :quantity_done, "", class: "form-control only-numbers", required: true %>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Upload Image</label>
              <div class="custom-file">
                <%= file_field_tag :image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "customFile"  %>
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <%= cktext_area :description, "", cols: 40 %>
        </div>
        <button type="Submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
