<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center">
              #
            </th>
            <th>Order</th>
            <th>Created Date</th>
            <th>Status</th>
            <th width="30%">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each_with_index do |order, i| %>
            <tr>
              <td class="text-center"><%= i + 1 %></td>
              <td><%= link_to "<b>#{order.invoice}</b>".html_safe, manage_web_admin_orders_path(order.invoice) %></td>
              <td><%= order.created_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= get_badge_order(order.order_status.upcase).html_safe %></td>
              <td>
                <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic example">
                <% if current_user.role.eql?("pengawas_produksi") %>
                  <% if order.order_status.eql?("ready_production") %>
                    <%= link_to "<i class='far fa-envelope'></i> Request Material".html_safe, add_request_web_admin_materials_path(invoice: order.invoice), class: "btn btn-warning float-right" %>
                  <% elsif order.order_status.eql?("on_progress") %>
                    <%= link_to "<i class='far fa-edit'></i> Update Production Data".html_safe, progress_web_admin_productions_path(order.invoice), class: "btn btn-warning float-right" %>
                  <% end %>
                  <% if order.order_status.eql?("material_ready") %>
                    <%= link_to "<i class='far fa-check-circle'></i> <b>Start Production?</b>".html_safe, url_for(action: :start_production, id: order.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-info float-right" %>
                  <% end %>
                <% end %>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalOrderItems" data-whatever="<%= order.invoice %>"><i class="far fa-eye"></i> Detail Order</button>
                <%= link_to "<i class='far fa-eye'></i> Detail Production".html_safe, detail_web_admin_productions_path(order.invoice), class: "btn btn-primary float-right" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
