<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center">
              #
            </th>
            <th>Log Time</th>
            <th>Production Status</th>
            <th>Order</th>
            <th>Order Item</th>
            <th>Order Size</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <% @logs.each_with_index do |log, i| %>
            <tr>
              <td class="text-center"><%= i + 1 %></td>
              <td><%= log.created_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= get_badge_production(log.progress_status.upcase).html_safe %></td>
              <td><%= @order.invoice %></td>
              <td><%= log.order_item_size.order_item.product.name %></td>
              <td><div class="badge badge-light"><%= log.order_item_size.product_size.size.upcase %></div></td>
              <td>
                <button class="btn btn-info show-log-image" type="button" value="<%= log.id %>"><i class="far fa-eye"></i> Show Image</button>
                <%= image_tag(log.image.url, alt: "Log Image", id: "show-log-image-#{log.id}", class:"thumb-image-w-200 hidden") if log.image.present? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
