<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-6 col-lg-6">
      <%= form_tag(update_web_admin_materials_path, method: "post") do |f| %>
        <div class="section-title mt-0">Create New Material</div>
        <div class="form-group">
          <label>Material Name</label>
          <%= text_field_tag :name, @material.name, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <label>Select Cloth Category</label>
          <%= select_tag :category_id, options_from_collection_for_select(Category.active, "id", "name", @material.category_id), class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Select Type</label>
          <%= select_tag :material_use, options_for_select(Material.material_uses.map {|k, v| [k.humanize.capitalize, k]}, :selected=>@material.material_use), class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Common Price</label>
          <%= text_field_tag :common_price, @material.common_price, class: "form-control", required:true, id:"only-numbers", maxlength: 7 %>
        </div>
        <div class="form-group">
          <label>Select Unit per Item</label>
          <%= select_tag :unit, options_for_select(Material.units.map {|k, v| [k.humanize.capitalize, k]}, :selected=>@material.unit), class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
        <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
      <% end %>
    </div>
  </div>
</div>
