<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Type</th>
            <th>Common Price</th>
            <th>Last Updated</th>
            <% if can? [:delete, :update], Material %>
            <th width="300px">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |material, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= material.name %></td>
              <td class="align-middle">
                <%= material.category.name.capitalize %>
              </td>
              <td><div class="badge badge-light font-15"><%= material.stock %> <%= material.unit %></div></td>
              <td><%= material.material_use.capitalize %></td>
              <td>Rp <%= number_with_delimiter(material.common_price.to_i, delimiter: ".") %></td>
              <td><%= material.updated_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <% if can? [:delete, :update], Material %>
              <td>
                <% if can? :delete, Material %>
                  <%= link_to "<i class='far fa-times-circle'></i> Delete Material".html_safe, url_for(action: :delete,id: material.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger float-right" %>
                <% end %>
                <% if can? :delete, Material %>
                <%= link_to "<i class='far fa-edit'></i> Edit Material".html_safe, edit_web_admin_materials_path(material), class: "btn btn-warning float-right mx-3" %>
                <% end %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
