<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <% orders = Order.active.prod_ready %>
      <% if !orders.present? %>
        <div class="alert alert-light alert-has-icon">
          <div class="alert-icon"><i style="font-size: 32px;" class="fas fa-exclamation"></i></div>
          <div class="alert-body">
            <div class="alert-title">Perhatian</div>
            <p style="font-size: 16px">Hanya dapat melakukan Request Material jika terdapat order aktif yang perlu diproduksi</p>
          </div>
        </div>
      <% else %>
        <%= form_tag(create_request_web_admin_materials_path, method: "post") do |f| %>
          <div class="section-title mt-0">Buat Request Baru</div>
          <div class="alert alert-light alert-has-icon">
            <div class="alert-icon"><i style="font-size: 32px;" class="fas fa-exclamation"></i></div>
            <div class="alert-body">
              <div class="alert-title">Perhatian</div>
              <p style="font-size: 16px">Request manual hanya dapat dilakukan pada order yang sudah melakukan request sevelumnya</b>.</p>
            </div>
          </div>
          <% orders = Order.active.prod_ready %>
          <div class="row">
            <div class="col-6 col-md-6 col-lg-6 col-sm-12">
              <!-- <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#contact_01" data-toggle="tab">Material #1</a><span class="close-tab">x</span>
                </li>
                <li><a href="#" class="add-contact">+ Add Contact</a>
                </li>
              </ul> -->
              <div class="form-group">
                <label>Order</label>
                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" <%= params[:invoice].present? ? "disabled=true" : "" %>>
                  <% if @orders.present? %>  
                    <% orders = @orders %>
                  <% end %>
                  <% orders.each do |order| %>
                      <option value="<%= order.invoice %>"><%= order.invoice %></option>
                    <% end %>
                </select>
                <input type="hidden" name="invoice" value="<%= params[:invoice] %>"/>
              </div>
              <% if !params[:invoice].present? %>
                <div class="form-group">
                  <label>Material</label>
                  <select id="material-option" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                      <% Material.active.each do |material| %>
                        <option value="<%= material.id %>"><%= material.name %> / <%= material.unit %></option>
                      <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <label>Quantity</label>
                  <%= text_field_tag :quantity, "", class: "form-control qnt", id:"only-numbers", maxlength: 5 %>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-icon icon-left btn-primary btn-lg w-100"
                    id="btn-add-items"
                  >
                    <i class="fas fa-plus"></i> Add
                  </button>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <table class="table table-bordered" id="table-item">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Material</th>
                      <th>Quantity</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="no-item-td text-center">
                    <% items = {} %>
                    <% if params[:invoice].present? %>
                      <% @materials.each_with_index do |item, i| %>
                        <tr id='material-<%= item[0] %>'>
                          <td><%= i + 1 %></td>
                          <td><%= item[1][:name] %></td>
                          <td><%= item[1][:qnt] %></td>
                          <td>-</td>
                        </tr>
                        <% items[item[0].to_s] = item[1][:qnt] %>
                      <% end %>
                    <% else %>
                      <td colspan="4"><b>No Item</b></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input type="hidden" value='<%= items.to_json %>' id="items" name="items">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
              <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
