<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_web_admin_employees_path, method: "post") do |f| %>
        <div class="section-title mt-0">Add New Personnel</div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Full Name</label>
              <%= text_field_tag :full_name, "", class: "form-control", required:true %>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Email</label>
              <%= email_field_tag :email, "", class: "form-control", required: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Position Select</label>
              <select class="form-control" name="position">
                <% Personnel.positions.each do |position| %>
                  <% if position[0].downcase != "owner" %>
                    <option value="<%= position[0] %>"><%= position[0].humanize.capitalize %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Phone Number</label>
              <%= text_field_tag :phone_number, "", class: "form-control", required:true, id:"only-numbers", maxlength: 13 %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Gender</label>
              <%= select_tag :gender, options_for_select(Personnel.genders.map {|k, v| [k.humanize.capitalize, k]}), class: "form-control" %>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Birth Date</label>
              <%= date_field_tag :birth_date, "", class: "form-control", required:true, id:"only-numbers", maxlength: 13 %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Salary</label>
              <%= text_field_tag :salary, "", class: "form-control only-numbers", required:true, maxlength: 8 %>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Salary Type</label>
              <%= select_tag :salary_type, options_for_select(Personnel.salary_types.map {|k, v| [k.humanize.capitalize, k]}), class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
