<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Join Date</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>Position</th>
            <th>User Email</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |personnel, i| %>
            <tr style="font-size: 14px;">
              <td class="text-center align-middle">
                <%= i + 1 %>
              </td>
              <td class="align-middle"><%= personnel.full_name %></td>
              <td class="align-middle"><%= personnel.birth_date.strftime("%d %B %Y") %></td>
              <td class="align-middle"><%= personnel.created_at.strftime("%d %B %Y") %></td>
              <td class="align-middle">
                <%= personnel.gender.capitalize %>
              </td>
              <td class="align-middle"><%= personnel.phone_number %></td>
              <td class="align-middle"><%= get_badge_position(personnel.position).html_safe%></td>
              <td class="align-middle"><%= !personnel.email.nil? ? personnel.email : "none" %></td>
              <td class="align-middle">Rp <%= number_with_delimiter(personnel.salary.to_i, delimiter: ".") %></td>
              <td>
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                  <%= link_to "<i class='far fa-edit'></i> Edit Personnel".html_safe, edit_web_admin_employees_path(personnel), class: "btn btn-light" %>
                  <%= link_to "<i class='far fa-times-circle'></i> Delete Personnel".html_safe, url_for(action: :delete,id: personnel.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger float-right" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
