<div class="card">
  <div class="card-header">
    <div class="col-6 col-md-6 col-lg-6 col-sm-12">
      <h4>Filter Data</h4>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-sm-12">
      <form class="form-inline float-right w-100">
        <%= date_select("recap", "on", order: [:month, :year], start_year: 2000, end_year: Date.today.year, with_css_classes: {month: "form-control mb-2 mr-sm-2 col-5 rounded-0", year: "form-control mb-2 mr-sm-2 col-5 rounded-0" } ) %>
        <button type="submit" class="btn btn-light mb-2 float-right rounded-2">TERAPKAN</button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Full Name</th>
            <th>Join Date</th>
            <th>Contact</th>
            <th>Position</th>
            <th>User Email</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |personnel, i| %>
            <tr style="font-size: 14px;">
              <td class="text-center align-middle">
                <%= i + 1 %>
              </td>
              <td class="align-middle"><%= personnel.full_name %></td>
              <td class="align-middle"><%= personnel.created_at.strftime("%d %B %Y") %></td>
              <td class="align-middle"><%= personnel.phone_number %></td>
              <td class="align-middle"><%= get_badge_position(personnel.position).html_safe%></td>
              <td class="align-middle"><%= !personnel.email.nil? ? personnel.email : "none" %></td>
              <td class="align-middle">Rp <%= number_with_delimiter(personnel.salary.to_i, delimiter: ".") %></td>
              <td>
                <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic example">
                  <button class="btn btn-light w-50"><i class='far fa-eye'></i> See Detail</button>
                  <button class="btn btn-danger w-50"><i class='fas fa-download'></i> Download Slip</button>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
