<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-6 col-lg-6">
      <%= form_tag(update_web_admin_suppliers_path, method: "post") do |f| %>
        <div class="section-title mt-0">Tambah Supplier Baru</div>
        <div class="form-group">
          <label>Nama Supplier</label>
          <%= text_field_tag :name, @supplier.name, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <%= text_field_tag :phone_number, @supplier.phone_number, class: "form-control", required:true, id:"only-numbers", maxlength: 13 %>
        </div>
        <div class="form-group">
          <label>Full Address</label>
          <%= text_area_tag :address, @supplier.address, class: "form-control", required:true %>
        </div>
        <div class="btn-form">
          <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
