<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center" width="50px">
              #
            </th>
            <th>Name</th>
            <th>Contact</th>
            <th>Transaksi Selesai</th>
            <th>Address</th>
            <% if can? [:delete, :update], Supplier %>
            <th width="300px">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |supplier, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= supplier.name %></td>
              <td><%= supplier.phone_number %></td>
              <td><b><%= get_badge(supplier.material_transactions.complete.count.to_s, "success").html_safe %></b></td>
              <td><%= supplier.address %></td>
              <% if can? [:delete, :update], Supplier %>
              <td class="text-center">
                <%= link_to "<i class='far fa-times-circle'></i> Delete Supplier".html_safe, url_for(action: :delete,id: supplier.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger float-right" %>
                <%= link_to "<i class='far fa-edit'></i> Edit Supplier".html_safe, edit_web_admin_suppliers_path(supplier), class: "btn btn-warning" %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
