<div class="card">
  <div class="card-header">
    <h4>Reporting</h4>
  </div>
  <div class="card-body report">
    <%= form_tag(post_create_web_admin_reports_path, method: "post") do |f| %>
    <div class="row">
      <table class="table" style="font-size: 15px;">
        <tr>
            <td width="20%">Date Created</td>
            <td width="1%">:</td>
            <td><%= DateTime.now.strftime("%d %B %Y") %></td>
        </tr>
        <tr>
            <td>Reporter</td>
            <td>:</td>
            <td><%= "#{current_user.personnel.full_name} - #{current_user.email}" %></td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>:</td>
            <td>
                <%= text_field_tag :subject, "", class: "form-control subject-input", required: true %>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="w-100 pt-3">
                <%= cktext_area :report, "",  cols: 40, required: true %>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="w-100 pt-3">
              <button type="submit" class="btn btn-icon icon-left btn-dark btn-lg float-right w-100"><i class="far fa-edit"></i> Submit</button>
            </td>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</div>
