<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>Position</th>
            <th>User Email</th>
            <th>User Role</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |personnel, i| %>
            <tr>
              <td class="text-center align-middle">
                <%= i + 1 %>
              </td>
              <td class="align-middle"><%= personnel.full_name %></td>
              <td class="align-middle"><%= personnel.birth_date.strftime("%d %B %Y") %></td>
              <td class="align-middle">
                <%= personnel.gender.capitalize %>
              </td>
              <td class="align-middle"><%= personnel.phone_number %></td>
              <td class="align-middle"><%= personnel.position.gsub("_", " ").split.map(&:capitalize)*' ' %></td>
              <td class="align-middle"><%= !personnel.email.nil? ? personnel.email : "none" %></td>
              <td class="align-middle"><%= personnel.user.present? ? personnel.user.role.gsub("_", " ").split.map(&:capitalize)*' ' : "none" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
