<div class="card">
  <div class="card-header">
    <div class="col-6 col-md-6 col-lg-6 col-sm-12">
      <h4>Filter Data</h4>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-sm-12 p-0">
      <form class="form-inline float-right w-100 filter-form">
        <% if params[:filter].present? and !@filter.nil? %>
          <%= select_date(@filter, :prefix => 'filter', order: [:month, :year], start_year: @filter.year, end_year: 2000, with_css_classes: {month: "form-control mb-2 pr-1", year: "form-control mb-2", discard_day: true } ) %>
        <% else %>
          <%= select_date(Time.now, :prefix => 'filter', order: [:month, :year], start_year: Date.today.year, end_year: 2000, with_css_classes: {month: "form-control mb-2 pr-1", year: "form-control mb-2", discard_day: true } ) %>
        <% end %>
        <button type="submit" class="btn btn-dark h-100 mb-2 float-right font-weight-bold"><i class='far fa-eye'></i> Terapkan</button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-6 col-sm-12">
        <%= link_to "<i class='fas fa-sync-alt'></i> Reset Filter".html_safe, material_request_web_admin_reports_path, class: "btn btn-light font-weight-bold" %>
      </div>
      <div class="col-6 col-md-6 col-lg-6 col-sm-12 float-right download-button">
        <%= link_to "<i class='fas fa-download'></i> Download All Data".html_safe, material_request_web_admin_reports_path(format: :xlsx, :query => "all"), class: "btn btn-danger float-right font-weight-bold" %>
        <% year = params[:filter]["year"] rescue Date.current.year %>
        <% month = params[:filter]["month"] rescue Date.current.month %>
        <%= link_to "<i class='fas fa-download'></i> Download Selected Month".html_safe, material_request_web_admin_reports_path(format: :xlsx, :filter => {year: year, month: month}), class: "btn btn-info float-right mr-3 font-weight-bold", onclick: "addURL(this)" %>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Request Date</th>
            <th>Invoice</th>
            <th>Status</th>
            <th>Is Change by Owner</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |request, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= request.request_date.strftime("%d %B %Y at %l:%M %P") %></td>
              <td class="text-center font-weight-bold"><%= request.order.present? ? "#{link_to "#{request.order.invoice}".html_safe, manage_web_admin_orders_path(request.order.invoice)}".html_safe : "-" %></td>
              <td><%= get_badge_request(request.status.upcase).html_safe %></td>
              <td><b><%= request.is_change.to_s.upcase %></b></td>
              <td><%= request.updated_at.strftime("%d %B %Y at %l:%M %P") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
