<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table dataTables font-15 mail-table" id="dataTables">
        <thead>
          <tr>
            <th width="20%">Reporter</th>
            <th >Highlight</th>
            <th width="10%">Date/Time</th>
            <th width="10%">Status</th>
            <th width="10%">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each_with_index do |report, i| %>
            <% if report.is_read %>
            <tr>
            <% else %>
            <tr style="background-color: #f2f2f257 !important; font-weight: bold!important;">
            <% end %>
              <td><%= report.user.personnel.full_name %></td>
              <td><%= strip_tags(report.report) %></td>
              <td>
                <% if report.created_at.to_date == Date.current %>
                  <%= report.created_at.strftime("%l:%M %p") %>
                <% else %>
                  <%= report.created_at.strftime("%d %b %Y") %>
                <% end %>
              </td>
              <td><%= report.is_read ? "<div class='badge badge-light font-weight-bold'>Seen</div>".html_safe : "<div class='badge badge-warning font-weight-dark'>Not Seen</div>".html_safe %></td>
              <td>
                <%= link_to "<i class='far fa-eye'></i> View Report".html_safe, view_web_admin_reports_path(report.id), class: "btn btn-warning float-right" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
