<div class="card">
  <div class="card-header">
    <h4><%= @report.subject %></h4>
  </div>
  <div class="card-body report">
    <div class="row">
      <table class="table" style="font-size: 15px;">
        <tr>
            <td><p>From <%= "#{@report.user.personnel.full_name} - #{@report.user.email}" %></p></td>
            <td><p class="float-right"><%= @report.created_at.strftime("%d %B %Y") %></p></td>
        </tr>
        <tr>
            <td colspan="2" class="w-100 pt-3" style="background-color: #f1f1f14a;">
                <div style="min-height: 300px!important;">
                    <%= @report.report.html_safe %>
                </div>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
