// Place all the styles related to the web-admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variable";

.custom-sidebar {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03) !important;
	top: 0;
	height: 100%;
	background-color: #fff !important;
	z-index: 880;
	left: 0;
	padding: 15px;
}

.navbar-bg {
  background-color: $app-main-color;
}

.main-content {
  padding-top: 90px !important;
  position: relative;
  width: 100% !important;
}

.navbar {
  left: 265px !important;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a {
  height: 35px !important;
  line-height: 24px;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li:hover {
  background-color: #f8fafb;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-footer{
  padding-top: 10px;
  padding-bottom: 10px;
}

.dataTables_filter input{
	padding-left: 20px;
	padding-right: 0;
	min-height: 40px;
	font-weight: 500;
	border-radius: 3px 0 0 3px;
	transition: all 1s;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

.dataTables_wrapper{
	.dataTables_paginate {
		padding-top: 1em !important;
		.paginate_button{
			margin: 0px !important;
			padding: 10px !important;
			font-weight: bold;
			&:hover{
				background: $app-main-color !important;
				border-color: $app-main-color;
			}
			&:active{
				background: $app-main-color !important;
			}
			&:focus{
				background: $app-main-color !important;
			}
		}

		.paginate_button.disabled{
			&:hover{
				color: #fff !important;
			}
		}

		.current{
			&:hover{
				background: linear-gradient(to bottom, white 0%, #dcdcdc 100%) !important;
			}
		}
	}
}

#dataTables_previous{
	&:hover{
		color: #fff !important;
	}
}


textarea.form-control{
	height: 100px !important;
}


.nav-tabs > li {
    position:relative !important;
		font-size: 16px;
}
.nav-tabs > li > a {
    display:inline-block !important;
		padding: 10px 20px;
}
.nav-tabs > li > span {
    display:none !important;
    cursor:pointer !important;
    position:absolute !important;
    right: 3px !important;
    top: 8px !important;
    color: red !important;
		font-size: 20px;
}
.nav-tabs > li:hover > span {
    display: inline-block !important;
}


.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    right: 10px;
    width: 30px
}

.delete-material {
	font-size: 16px;
}

 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.1s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 

.thumb-image-w-200{
  width: 200px;
  height: auto;
}

.hidden {
  display: none !important;
}

.transaction-detail{
  font-size: 14px !important;
  font-weight: 700 !important;
}

.fade-faster{
  transition-duration: 0.1s !important;
}

.font-15{
  font-size: 15px !important;
}

.font-16{
  font-size: 16px !important;
}

.filter-form {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.filter-form select{
  height: 100% !important;
  vertical-align: middle;
  font-size: 13px !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 3px !important;
  width: 39% !important;
  margin-right: 1%;
}

.filter-form button{
  border-radius: 3px !important;
  width: 20%;
  float: right;
  box-shadow: none!important;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.download-button button {
  box-shadow: none!important;
}

.card-dash {
  .card-stats-title {
    font-size: 16px !important;
    color: #2e4477;
    border-bottom: 1px solid #2e44771c;
    margin-bottom: 30px;
  }

  .card-stats-items{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .card-stats-item{
      .card-stats-item-count{
        font-size: 24px!important;
      }
      .card-stats-item-label{
        font-size: 16px!important;
      }
    }
  }
}

.card.card-statistic-2 {
  .card-icon {
    width: 70px !important;
    height: 70px !important;
    line-height: 80px !important;

    .fas {
      font-size: 30px !important;
    }
  }

  .card-header h4 {
    font-size: 16px !important;
  }

  .card-body {
    font-size: 30px;
  }
}

.report {
  .cke_contents{
    height: 400px !important;
  }

  .subject-input{
    border: 0px;
    border-bottom: 1px solid #2e4477;
    border-radius: 0px;
    padding: 5px 0px !important;
  }
}