<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_web_admin_products_path, method: "post", multipart: true) do |f| %>
        <div class="section-title mt-0">Create New Product</div>
        <div class="row">
           <div class="col-6 col-md-6 col-lg-6 col-sm-12">
             <div class="form-group">
                <label>Name</label>
                <%= text_field_tag :name, "", class: "form-control", required:true,  autofocus: true %>
             </div>
           </div>
           <div class="col-6 col-md-6 col-lg-6 col-sm-12">
             <div class="form-group">
                <label>Gender</label>
               <%= select_tag :gender, options_for_select(Product.genders.map {|k, v| [k.humanize.capitalize, k]}), class: "form-control", required: true %>
             </div>
           </div>
        </div>
        <div class="row">
           <div class="col-6 col-md-6 col-lg-6 col-sm-12">
             <div class="form-group">
                <label>Base Price</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Rp</span>
                  </div>
                  <%= text_field_tag :base_price, "", class: "form-control only-numbers", required:true %>
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
             </div>
           </div>
           <div class="col-6 col-md-6 col-lg-6 col-sm-12">
             <div class="form-group">
                <label>Margin Price</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Rp</span>
                  </div>
                  <%= text_field_tag :margin_price, "", class: "form-control only-numbers", required:true %>
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
             </div>
           </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
                <label>Size</label>
               <%= select_tag :sizes, options_for_select(ProductSize.sizes.map {|k, v| [k.humanize.upcase, k]}), class: "form-control", id: "sizes-option" %>
            </div>
            <div class="form-group">
              <label>Tambah Size</label>
              <button
                class="btn btn-icon icon-left btn-primary btn-lg w-100"
                id="btn-add-sizes"
              >
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Category</label>
              <select class="form-control select2 select2-hidden-accessible" name="category" style="width: 100%;" tabindex="-1" aria-hidden="true" required="required">
                  <% @category.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
              </select>
            </div>
            <div class="form-group">
              <label>Pattern Image</label>
              <div class="custom-file">
                <%= file_field_tag :pattern_image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "customFile", required: true  %>
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <table class="table table-bordered" id="table-item">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Size</th>
                    <th>Margin Price</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr class="no-item-td text-center">
                  <td colspan="4"><b>No Item</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <input type="hidden" value="" id="sizes" name="sizes">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
