<div class="card">
  <div class="card-body">
    <div class="alert alert-light alert-has-icon">
      <div class="alert-icon"><i style="font-size: 32px;" class="fas fa-exclamation"></i></div>
      <div class="alert-body">
        <div class="alert-title">Attention!</div>
        <p style="font-size: 16px">Product can be order when product materials are set.</p>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Name</th>
            <th>Category</th>
            <th>Gender</th>
            <th>Base Price</th>
            <th>Margin Price</th>
            <th>Sizes Available</th>
            <th>Pattern Image</th>
            <% if can? [:delete, :update], Product %>
            <th width="300px">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |product, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= product.name %></td>
              <td>
                <%= product.category.name.capitalize %>
              </td>
              <td>
                <%= product.gender.capitalize %>
              </td>
              <td>Rp <%= number_with_delimiter(product.base_price.to_i, delimiter: ".") %></td>
              <td>Rp <%= number_with_delimiter(product.margin_price.to_i, delimiter: ".") %></td>
              <td>
                <% product.product_sizes.active.order(size: :asc).each do |size| %>
                  <div class="badge badge-light"><%= size.size.upcase %></div>
                <% end %>
              </td>
              <td class="text-center">
                <% if product.pattern_image.present? %>
                  <button class="btn btn-info show-pattern-image" type="button" value="<%= product.id %>"><i class="far fa-eye"></i> Pattern</button>
                  <%= image_tag(product.pattern_image.url, alt: "Pattern Image", id: "show-pattern-image-#{product.id}", class:"thumb-image-w-200 hidden") %>
                <% else %>
                  <p class="text-center">Image belum tersedia</p>
                <% end %>
              </td>
              <% if can? [:delete, :update], Product %>
              <td>
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <%= link_to "<i class='far fa-edit'></i> Detail Product".html_safe, detail_web_admin_products_path(product), class: "btn btn-light float-right" %>
                <% if can? :update, Product %>
                <%= link_to "<i class='far fa-edit'></i> Edit Product".html_safe, edit_web_admin_products_path(product), class: "btn btn-warning float-right" %>
                <% end %>
                <% if can? :delete, Product %>
                  <%= link_to "<i class='far fa-times-circle'></i> Delete Product".html_safe, url_for(action: :delete,id: product.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger float-right" %>
                <% end %>
                </div>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>