<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_material_web_admin_products_path, method: "post") do |f| %>
        <div class="section-title mt-0">Add Material Product</div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
              <label>Material</label>
              <select id="material-option" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <% @material.each do |material| %>
                    <option value="<%= material.id %>"><%= material.name %> / <%= material.unit %></option>
                  <% end %>
              </select>
            </div>
            <div class="form-group">
              <label>Minimum Per item</label>
              <div class="input-group mb-3">
                  <%= text_field_tag :quantity, "", class: "form-control qnt", required:true, id:"only-numbers", maxlength: 5 %>
                  <div class="input-group-append">
                    <span class="input-group-text"> / item</span>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <button
                class="btn btn-icon icon-left btn-primary btn-lg w-100"
                id="btn-add-materials"
              >
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <table class="table table-bordered" id="table-item">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Material</th>
                    <th>Quantity</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <% if @product.product_materials.present? %>
                  <% @product.product_materials.active.each_with_index do |material, i| %>
                    <tr id='material-<%= material.material_id %>'>
                      <td><%= i + 1 %></td>
                      <td><%= material.material.name %> / <%= material.material.unit %> </td>
                      <td id='qnt-<%= material.material_id %>'><%= material.use_per_unit %></td>
                      <td><button type="button" class='btn btn-danger btn-lg' onclick='delete_material(<%= material.material_id %>)'><i class='fas fa-times delete-material'> </i></button></td>
                    </tr>
                  <% end %>
                <% else %> 
                  <tr class="no-item-td text-center">
                    <td colspan="4"><b>No Item</b></td>
                  </tr>
                <% end %> 
              </tbody>
            </table>
          </div>
        </div>
        <input type="hidden" value="" id="items" name="items">
        <input type="hidden" value="<%= @product.id %>" id="id" name="id">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>

<script type="text/javascript">
  <% @product.product_materials.active.each_with_index do |pm, i| %>
    selected.push(<%= pm.material_id %>);
    data[<%= pm.material_id %>] = <%= pm.use_per_unit %>
    console.log(selected);
    console.log(data);
  <% end %>
</script>