<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="section-title mt-0">Detail Transaksi</div>

        <div class="row mb-3">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            
            <div class="btn-group btn-group-lg pull-left w-100" role="group" aria-label="Basic example">
              <button class="btn btn-primary transaction-detail w-50" data-toggle="collapse" data-target="#detailProduct" role="button" aria-expanded="false">Show Detail Item</button>
              <button class="btn btn-danger transaction-detail w-50" type="button" data-toggle="collapse" data-target="#detailProductItems" aria-expanded="false" aria-controls="detailProductItems">Show Materials</button>
            </div>

          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">

            <div class="btn-group btn-group-lg pull-right w-100 transaction-detail" role="group" aria-label="Basic example">
              <button class="btn btn-warning w-50 transaction-detail show-pattern-image" type="button" value="<%= @product.id %>">See Pattern</button>
              <%= link_to "Update Product Material", material_web_admin_products_path(@product), class: "btn btn-success w-50 transaction-detail" %>
            </div>

          </div>
        </div>
        
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <div class="collapse multi-collapse show" id="detailProduct">
                <table class="table table-bordered" style="font-weight: bold; font-size: 16px;">
                  <tr>
                    <td style="width: 200px;">Name</td>
                    <td>
                      <%= @product.name %>
                    </td>
                    <td style="width: 200px;">Order Date</td>
                    <td><%= @product.created_at.strftime("%d %B %Y at %l:%M %P") %></td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td><%= @product.gender %></td>
                    <td>Category</td>
                    <td><%= @product.category.name %></td>
                  </tr>
                  <tr>
                    <td>Base Price</td>
                    <td>Rp <%= number_with_delimiter(@product.base_price.to_i, delimiter: ".") %></td>
                    <td>Margin Price</td>
                    <td>Rp <%= number_with_delimiter(@product.margin_price.to_i, delimiter: ".") %></td>
                  </tr>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="table-responsive collapse multi-collapse" id="detailProductItems">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" width="200px">
                        #
                      </th>
                      <th>Material Name</th>
                      <th>User per unit</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @product.product_materials.present? %>
                        <% @product.product_materials.active.each_with_index do |item, i| %>
                        <tr>
                            <td class="text-center">
                            <%= i + 1 %>
                            </td>
                            <td><%= item.material.name %></td>
                            <td><%= item.use_per_unit %></td>
                            <td><%= item.material.unit %></td>
                        </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td colspan="4" align="center">No Item Yet</td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="row">

              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<% if !@product.pattern_image.file.nil? %>

<%= image_tag(@product.pattern_image.url, alt: "Pattern Image", id: "show-pattern-image-#{@product.id}", class:"thumb-image-w-200 hidden") %>

<% end %>