<!DOCTYPE html>
<html>
<body>
	<div style="font-size: 16px;">
		<h3>Hallo <%= @user.email %></h3>
		=================================================
		<br>
		<h4>Order with Invoice <%= @order.invoice %> are on the production process. </h4>
		<bt>
		<p>Please stay in touch for the order!</p>
		<p>Thank you!</p>
	</div>
</body>
</html>