  <div class="card">
    <div class="card-body">
      <%= form_tag(create_negotiation_web_admin_orders_path, method: "post") do |f| %>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12">
          <div class="section-title mt-0">Create Negotiation</div>
          <div class="alert alert-light">
            <h5>Note!</h5>
            <p class="font-weight-bold" style="font-size: 16px !important;">The following conditions apply to the form below</p>
            <ul style="font-size: 16px !important;">
              <li>Product shown only product that <b>has product materials anda product sizes set</b>.</li>
              <li>If customer is not on the list, please create the customer first <%= link_to "<b>HERE</b>".html_safe, add_web_admin_customers_path %>.</li>
            </ul> 
          </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Customer Select</label>
                  <select name="customer" class="form-control select2 select2-hidden-accessible"  required= true style="width: 100%;" tabindex="-1">
                    <% @customers.each do |customer| %>
                      <option value="<%= customer.id %>"><%= customer.id_card + " - " + customer.full_name  %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Product Select</label>
                  <%= select_tag :product, options_from_collection_for_select(@products, "id", "name"), class: "form-control", id: "productSelect", required: true %>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Size Select</label>
                  <%= select_tag :sizes, options_from_collection_for_select(@product_sizes, "id", "size"), class: "form-control", id: "sizesSelect", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Quantity</label>
                  <%= text_field_tag :quantity, "", class: "form-control", id: "quantity", required: true %>
                </div>
                <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                  <label>Base Price</label>
                  <%= text_field_tag :price, @products.first.base_price.to_i, class: "form-control only-numbers", id: "basePrice", readonly: "" %>
                </div>
                <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                  <label>Margin Price Size</label>
                  <%= text_field_tag :price, @product_sizes.first.margin_price.to_i, class: "form-control only-numbers", id: "marginPrice", readonly: "" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Total Price</label>
                  <% total = @products.first.base_price.to_i + @product_sizes.first.margin_price.to_i %>
                  <%= text_field_tag :price, total, class: "form-control only-numbers", id: "totalPrice" %>
                </div>
                <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                  <label>Print Price</label>
                  <% total = @products.first.base_price.to_i + @product_sizes.first.margin_price.to_i %>
                  <%= text_field_tag :print_price, 0, class: "form-control only-numbers", id: "printPrice" %>
                </div>
                <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                  <label>Embroidery Price</label>
                  <% total = @products.first.base_price.to_i + @product_sizes.first.margin_price.to_i %>
                  <%= text_field_tag :embroidery_price, 0, class: "form-control only-numbers", id: "embroideryPrice" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-2 col-md-2 col-lg-2 col-sm-12">
                  <label>Payment</label>
                  <select name="pembayaran" class="form-control" id="pembayaran">
                    <option value="dp">Down Payment</option>
                    <option value="lunas">Paid Off</option>
                  </select>
                </div>
                 <div class="col-4 col-md-4 col-lg-4 col-sm-12">
                  <label>Down Payment</label>
                  <%= text_field_tag :dp, "", class: "form-control only-numbers", required: true, id: "downPayment" %>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                  <label>Tambah Item</label>
                  <button
                    class="btn btn-icon icon-left btn-primary btn-lg w-100"
                    id="btn-add-negotiation"
                  >
                    <i class="fas fa-plus"></i> Add
                  </button>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <table class="table table-bordered" id="table-item">
                <thead>
                    <tr class="text-center">
                      <th>#</th>
                      <th>Product</th>
                      <th>Size</th>
                      <th>Quantity</th>
                      <th>SubTotal</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="no-item-td text-center">
                    <td colspan="6"><b>No Item</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input type="hidden" value="" id="orders" name="orders">
          <input type="hidden" value="" id="total_all" name="total">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>