  <div class="card">
    <div class="card-body">
      <div class="row section-title mt-0">Manage Order Items for Order #<%= @item.order.invoice %></div>
      <%= form_tag(update_web_admin_orders_path(@item.id), method: "post") do |f| %>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <label><b>Product Info</b></label>
              <table class="table table-bordered" id="table-item">
                <tbody>
                  <tr class="font-weight-bold">
                    <td width="27%">Product Name</td>
                    <td width="3%">:</td>
                    <td><%= @item.product.name %></td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td>Gender</td>
                    <td>:</td>
                    <td><%= @item.product.gender.capitalize %></td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td>Category</td>
                    <td>:</td>
                    <td><%= @item.product.category.name %></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="pt-3">
                      <table class="table">
                        <thead>
                            <tr>
                              <th width="10%">#</th>
                              <th>Material</th>
                              <th>User per unit</th>
                            </tr>
                        </thead>
                        <% @item.product.product_materials.each_with_index do |material, i| %>
                          <tr>
                            <td><%= i + 1 %></td>
                            <td><%= material.material.name %></td>
                            <td><%= material.use_per_unit %> <%= material.material.unit %> / pc(s)</td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <label><b>Table of Sizes</b></label>
              <table class="table table-bordered" id="table-item">
                <thead>
                    <tr class="text-center">
                      <th width="10%">#</th>
                      <th>Size</th>
                      <th>Quantity</th>
                      <th>Price per Item</th>
                    </tr>
                </thead>
                <tbody>
                  <% @item.order_item_sizes.each_with_index do |item, i| %>
                    <tr class="text-center">
                      <td><%= i + 1 %></td>
                      <td><%= item.product_size.size.upcase %></td>
                      <td><%= item.quantity %></td>
                      <% price = item.price_per_item.to_i %>
                      <% price = item.price_per_item.to_i + item.order_item.sablon_price unless item.order_item.sablon_price.nil? %>
                      <% price = item.price_per_item.to_i + item.order_item.bordir_price unless item.order_item.bordir_price.nil? %>
                      <td>Rp <%= number_with_delimiter(price, delimiter: ".") %></td>
                    </tr>
                  <% end %>
                  <tr class="text-center">
                    <td><b>Total</b></td>
                    <td><b><%= @item.order_item_sizes.count %></b></td>
                    <td><b><%= @item.quantity %></b></td>
                    <td><b>Rp <%= number_with_delimiter(@item.sub_total.to_i, delimiter: ".") %></b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <table class="table table-bordered table-striped">
              <tr>
                <td width="50%" colspan="2">
                  <b>Sewing Patter Image</b>
                </td>
                <td colspan="2">
                  <b>
                    <%= @item.pattern_image.present? ? "Custom" : "Default" %>
                  </b>
                </td>
              </tr>
              <tr>
                <td colspan="4" class="text-center">
                  <% if @item.pattern_image.present? %>
                    <%= image_tag(@item.pattern_image.url, alt: "Pattern Image", class:"thumb-image-w-200") %>
                  <% else %>
                    <%= image_tag(@item.product.pattern_image.url, alt: "Pattern Image", class:"thumb-image-w-200") %>
                  <% end %>
                </td>
              </tr>
              <tr class="font-weight-bold">
                <td>
                  <b>Sablon</b>
                </td>
                <td>
                    <%= @item.is_sablon ? "YES" : "NO" %>
                </td>
                <td>Position</td>
                <td><%= @item.is_sablon ? @item.sablon_position.upcase : "NO" %></td>
              </tr>
              <tr  class="text-center">
                <td colspan="4">
                  <% if @item.is_sablon and @item.sablon_image.present? %>
                    <%= image_tag(@item.sablon_image.url, alt: "Print Image", class:"thumb-image-w-200") %>
                  <% else %>
                    <p>No Image Available</p>
                  <% end %>
                </td>
              </tr>
              <tr class="font-weight-bold">
                <td>
                  <b>Bordir</b>
                </td>
                <td>
                    <%= @item.is_bordir ? "YES" : "NO" %>
                </td>
                <td>Bordir</td>
                <td><%= @item.is_bordir ? @item.bordir_position.upcase : "NO" %></td>
              </tr>
              <tr class="text-center">
                <td colspan="4">
                  <% if @item.bordir_image.present? and @item.is_bordir %>
                    <%= image_tag(@item.bordir_image.url, alt: "Embiodery Image", class:"thumb-image-w-200") %>
                  <% else %>
                    <p>No Image Available</p>
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>