  <div class="card">
    <div class="card-body">
      <div class="row section-title mt-0">Manage Order Items for Order #<%= @item.order.invoice %></div>
      <div class="alert alert-light">
        <h5>Note!</h5>
        <p class="font-weight-bold" style="font-size: 16px !important;">The following conditions apply to the form below</p>
        <ul style="font-size: 16px !important;">
          <li>Sewing Pattern Image is using product pattern image by default, <b>if there is a custom pattern please insert in the form</b>.</li>
          <li>If products are include embroidery or print, <b>you should include the image, position and the price.</b>.</li>
          <li>Price for embroidery and print are fixed Rp 10.000 by default, <b>you can always change it</b>.</li>
        </ul> 
      </div>
      <%= form_tag(update_web_admin_orders_path(@item.id), method: "post", multipart: true) do |f| %>
        <div class="row">
          <div class="col-7 col-md-7 col-lg-7 col-sm-12">
              <div class="form-group">
                <label>Sewing Pattern  Image</label>
                <div class="row col-12 col-md-12 col-lg-12 col-sm-12">
                  <div class="custom-file col-9 col-md-9 col-lg-9 col-sm-12">
                    <%= file_field_tag :pattern_image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "pattern_image", value: @item.pattern_image.url %>
                    <label class="custom-file-label" for="pattern_image">Choose file</label>
                  </div>
                  <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                    <button type="button" class="btn btn-info w-100 h-100" id="pattern-image-button"><i class="fas fa-eye"></i> See Image</button>
                    <%= image_tag(@item.pattern_image.url, alt: "Pattern Image", id: "patternImage", class:"thumb-image-w-200 hidden") if @item.pattern_image.present? %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Sewing Pattern Description</label>
                <%= cktext_area :description, "", value: @item.pattern_description,  cols: 40 %>
              </div>
              <% if @item.is_sablon %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <label>Print Image</label>
                      <div class="custom-file">
                        <%= file_field_tag :sablon_image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "sablon_image", value: @item.sablon_image.url  %>
                        <label class="custom-file-label" for="sablon_image">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-4 col-md-4 col-lg-4 col-sm-12">
                      <label>Print Position</label>
                      <%= select_tag :sablon_position, options_for_select(OrderItem.sablon_positions.map {|k, v| [k.humanize.capitalize, k]}, @item.sablon_position), class: "form-control" %>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                      <label>Print Price</label>
                      <%= text_field_tag :sablon_price, @item.sablon_price.present? ? @item.sablon_price.to_i : 0, class: "form-control only-numbers", readonly: "" %>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 col-sm-12">
                      <label>Uploaded Image</label>
                      <button type="button" class="btn btn-info w-100" id="print-image-button"><i class="fas fa-eye"></i></button>
                      <%= image_tag(@item.sablon_image.url, alt: "Print Image", id: "printImage", class:"thumb-image-w-200 hidden") if @item.sablon_image.present? %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if @item.is_bordir %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <label>Embroidery Image</label>
                      <div class="custom-file">
                        <%= file_field_tag :bordir_image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "bordir_image", value: @item.bordir_image.url  %>
                        <label class="custom-file-label" for="bordir_image">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-4 col-md-4 col-lg-4 col-sm-12">
                      <label>Embroidery Position</label>
                      <%= select_tag :bordir_position, options_for_select(OrderItem.bordir_positions.map {|k, v| [k.humanize.capitalize, k]}, @item.bordir_position), class: "form-control" %>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 col-sm-12">
                      <label>Embroidery Price</label>
                      <%= text_field_tag :bordir_price, @item.bordir_price.present? ? @item.bordir_price.to_i : 0, class: "form-control only-numbers", readonly: "" %>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 col-sm-12">
                      <label>Uploaded Image</label>
                      <button type="button" class="btn btn-info w-100" id="embroidery-image-button"><i class="fas fa-eye"></i></button>
                      <%= image_tag(@item.bordir_image.url, alt: "Embroidery Image", id: "embroideryImage", class:"thumb-image-w-200 hidden") if @item.bordir_image.present? %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                  <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg w-100"><i class="far fa-edit"></i> Submit</button>
                </div>
              </div>
          </div>
          <div class="col-5 col-md-5 col-lg-5 col-sm-12">
            <div class="row">
              <label><b>Product Info</b></label>
              <table class="table table-bordered" id="table-item">
                <tbody>
                  <tr class="font-weight-bold">
                    <td width="27%">Product Name</td>
                    <td width="3%">:</td>
                    <td><%= @item.product.name %></td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td>Gender</td>
                    <td>:</td>
                    <td><%= @item.product.gender.capitalize %></td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td>Category</td>
                    <td>:</td>
                    <td><%= @item.product.category.name %></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="pt-3">
                      <table class="table">
                        <thead>
                            <tr>
                              <th width="10%">#</th>
                              <th>Material</th>
                              <th>User per unit</th>
                            </tr>
                        </thead>
                        <% @item.product.product_materials.each_with_index do |material, i| %>
                          <tr>
                            <td><%= i + 1 %></td>
                            <td><%= material.material.name %></td>
                            <td><%= material.use_per_unit %> <%= material.material.unit %> / pc(s)</td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <label><b>Table of Sizes</b></label>
              <table class="table table-bordered" id="table-item">
                <thead>
                    <tr class="text-center">
                      <th width="10%">#</th>
                      <th>Size</th>
                      <th>Quantity</th>
                      <th>Price per Item</th>
                    </tr>
                </thead>
                <tbody>
                  <% @item.order_item_sizes.each_with_index do |item, i| %>
                    <tr class="text-center">
                      <td><%= i + 1 %></td>
                      <td><%= item.product_size.size.upcase %></td>
                      <td><%= item.quantity %></td>
                      <% tot_item = item.price_per_item %>
                      <% tot_item += @item.sablon_price if @item.is_sablon %>
                      <% tot_item += @item.bordir_price if @item.is_bordir %>
                      <td>Rp <%= number_with_delimiter(tot_item.to_i, delimiter: ".") %></td>
                    </tr>
                  <% end %>
                  <tr class="text-center">
                    <td><b>Total</b></td>
                    <td><b><%= @item.order_item_sizes.count %></b></td>
                    <td><b><%= @item.quantity %></b></td>
                    <td><b>Rp <%= number_with_delimiter(@item.sub_total.to_i, delimiter: ".") %></b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>