<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Invoice</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Total Quantity</th>
            <th>Down Payment</th>
            <th>Total</th>
            <th>Customer</th>
            <% if can? [:delete, :update], Order %>
            <th width="300px">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |order, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= order.invoice %></td>
              <td><%= order.created_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= get_badge_order(order.order_status.upcase).html_safe %></td>
              <td><%= get_badge_payment(order.payment_status.upcase).html_safe %></td>
              <td><%= order.total_qnt %></td>
              <td>Rp <%= number_with_delimiter(order.down_payment.to_i, delimiter: ".") %></td>
              <td>Rp <%= number_with_delimiter(order.total.to_i, delimiter: ".") %></td>
              <td>
                  <%= link_to order.customer.full_name, detail_web_admin_customers_path(order.customer) %>
              </td>
              <% if can? [:delete, :update], order %>
              <td class="text-center">
                <% if !order.order_status.eql?("success") %>
                  <div class="btn-group btn-group-lg " role="group" aria-label="Basic example">
                  <% if Order.order_statuses[order.order_status] < 5 %>
                  <%= link_to "<i class='far fa-edit'></i> Manage".html_safe, manage_web_admin_orders_path(order.invoice), class: "btn btn-light float-right" %>
                  <% else %>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#updateOrderTransaction" data-invoice="<%= order.invoice %>" data-status="<%= order.order_status.humanize.split.map(&:capitalize)*'' %>"><i class="far fa-eye"></i> Ubah Status</button>
                  <% end %>
                  <% if can? :delete, order and order.order_status.eql?("pending") %>
                  <% end %>
                  <% if Order.order_statuses[order.order_status] > 0 %>
                    <button type="button" class="btn btn-warning"><i class="far fa-paper-plane"></i> Mail</button>
                  <% end %>
                  </div>
                <% else %>
                  <p>No action available!</p>
                <% end %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
