<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Status</th>
            <th width="125px">Sub Total</th>
            <th>Bordir - Sablon</th>
            <th>Additional Price</th>
            <th>Last Updated</th>
            <% if can? [:delete, :update], OrderItem %>
            <th width="20%">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @items.each_with_index do |order, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= order.product.name %></td>
              <td><%= order.quantity %></td>
              <td><%= get_badge_order(order.production_status.upcase).html_safe %></td>
              <td>Rp <%= number_with_delimiter(order.sub_total.to_i, delimiter: ".") %></td>
              <td>
                <% if order.is_ready %>
                  <%= order.is_bordir ? get_badge("YES", "success").html_safe : get_badge("NO", "light").html_safe  %>
                  -
                  <%= order.is_sablon ? get_badge("YES", "success").html_safe : get_badge("NO", "light").html_safe  %>
                <% else %>
                <p class="font-weight-bold">Yet Ready</p>
                <% end %>
              </td>
              <% addtional_price = 0 %>
              <% addtional_price = order.is_sablon ? (addtional_price + (order.sablon_price * order.quantity )) : addtional_price %>
              <% addtional_price = order.is_bordir ? (addtional_price + (order.bordir_price * order.quantity )) : addtional_price %>
              <% if order.is_bordir or order.is_sablon  %>
                <td>Rp <%= number_with_delimiter(addtional_price.to_i, delimiter: ".") %></td>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
              <td><%= order.updated_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <% if can? [:delete, :update], OrderItem %>
              <td class="text-center">
                <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic example">
                <% if order.is_ready and !order.production_status.eql?("pending") %>
                  <%= link_to "<i class='far fa-eye'></i> Detail Item".html_safe, detail_web_admin_orders_path(order), class: "btn btn-success float-right" %>
                <% else %>
                  <%= link_to "<i class='far fa-edit'></i> Update Item".html_safe, edit_web_admin_orders_path(order), class: "btn btn-light float-right" %>
                <% end %>
                <% if order.production_status.eql?("pending") %>
                  <%= link_to "<i class='far fa-check-circle'></i> Production Ready?".html_safe, url_for(action: :update_status,id: order.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-warning float-right" %>
                <% end %>
                </div>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
