<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image px-0 py-0">
          <div class="bg-image-overlay"></div>
        </div>

        <!-- The content half -->
        <div class="col-md-6">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Change Password</h3>
                              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                                <%= devise_error_messages! %>
                                <%= f.hidden_field :reset_password_token %>
                                <div class="field mb-3">
                                  <%= f.label :password, "New password" %><br />
                                  <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                                  <% end %>
                                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control px-4", required: "true", placeholder: "New Password" %>
                                </div>

                                <div class="field mb-3">
                                  <%= f.label :password_confirmation, "Confirm new password" %><br />
                                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control px-4", required: "true", placeholder: "Confirm Password" %>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Change Password</button>
                            <% end %>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>