<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image px-0 py-0">
          <div class="bg-image-overlay"></div>
        </div>

        <!-- The content half -->
        <div class="col-md-6">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Forgot Password?</h3>
                            <p class="text-muted mb-4">Fil the email below@</p>
                              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                                <div class="form-group mb-3">
                                  <%= f.label :email %><br />
                                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control px-4", required: "true", placeholder: "Email address", id:"inputEmail" %>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Send Reset Password</button>
                            <% end %>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>