<div class="card">
  <div class="card-body">

    <div class="row mb-3">
      <div class="col-3 col-md-3 col-lg-3 col-sm-12">
        <div class="btn-group btn-group-lg pull-left w-100" role="group" aria-label="Basic example">
          <button class="btn btn-light transaction-detail w-50" data-toggle="collapse" data-target="#newCategory" role="button" aria-expanded="false">Create New Category</button>
        </div>
      </div>
      <div class="col-9 col-md-9 col-lg-9 col-sm-12">
        <div class="collapse multi-collapse" id="newCategory">
          <%= form_tag(create_web_admin_categories_path, method: "post") do |f| %>
            <div class="row">
              <div class="col-1 col-md-1 col-lg-1 col-sm-12">
                <label><b>Nama Kategori</b></label>
              </div>
              <div class="col-8 col-md-8 col-lg-8 col-sm-12">
                <%= text_field_tag :name, "", class: "form-control", required: true %>
              </div>
              <div class="col-3 col-md-3 col-lg-3 col-sm-12">
                <button type="submit" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
                <button type="reset" class="btn btn-icon icon-left btn-light btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="divider w-100 mt-3 mb-3" style="border: 0.5px solid #efefef6e;"></div>

    <div class="table-responsive">
      <table class="table table-striped dataTables font-15" id="dataTables">
        <thead>
          <tr>
            <th class="text-center" width="50px">
              #
            </th>
            <th>Name</th>
            <th width="400px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |category, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= category.name %></td>
              <td class="text-center">
                <div class="btn-group btn-group-lg justify-content-center align-items-center w-100" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#updateCategory" data-whatever="<%= category.name %>" data-whenever="<%= category.id %>"><i class='far fa-edit'></i> Update Category</button>
                  <%= link_to "<i class='far fa-times-circle'></i> Delete Kategori".html_safe, url_for(action: :delete,id: category.id),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger float-right" %>
               </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
