.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('landing/bg-cloth-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-image-overlay {
  background-color: rgba(50,50,50,.3);
  width: 100%;
  height: 100%;
}

.bg-white {
	background-color: #fff;
}

.form-control {
	border: 1px solid #2e4477;
	border-radius: 0.2rem;
}