<footer class="main-footer">
  <div class="footer-left">
    Copyright © 2020 <div class="bullet"></div> By <a href="https://nauval.in/">Konfeksi MARKEN</a>
  </div>
  <div class="footer-right">
    Template by <a href="https://getstisla.com/" target="blank"><b>STISLA</b></a>
  </div>
</footer>
