<% if flash.present? %>
  <% error = flash[:error].present? ? "danger" : "success" %>
  <div class="alert alert-<%= error %> alert-has-icon alert-dismissible show fade">
    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
    <div class="alert-body">
      <button class="close" data-dismiss="alert">
        <span>×</span>
      </button>
      <% if error.eql?("danger") %>
        <div class="alert-title">Error</div>
        <h4><%= flash[:message].present? ? flash[:message] : flash[:error] %></h4>
      <% else %>
        <div class="alert-title">Success</div>
        <h4><%= flash[:message].present? ? flash[:message] : flash[:success] %></h4>
      <% end %>
    </div>
  </div>
<% end %>
