<div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="index.html" class="navbar-brand sidebar-gone-hide">Konfeksi - <b>MARKEN</b></a>
        <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
            <i class="fas fa-ellipsis-v"></i>
          </a>
        </div>
        <ul class="navbar-nav navbar-right ml-auto">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <i class="fas fa-user-circle"></i>
            <div class="d-sm-none d-lg-inline-block">Hi, <%= current_user.personnel.present? ?  current_user.personnel.full_name : current_user.email  %></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logged in <%= last_login %></div>
              <%= link_to "<i class='fas fa-user'></i> Profile".html_safe, web_admin_profile_path, class: "dropdown-item has-icon" %>
              <div class="dropdown-divider"></div>
              <%= link_to "<i class='fas fa-sign-out-alt'></i> Logout".html_safe, destroy_user_session_path, class: "dropdown-item has-icon text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </li>
        </ul>
      </nav>
