<div class="main-sidebar custom-sidebar" id="custom-sidebar">
  <aside id="sidebar-wrapper" style="margin-bottom: 100px;">
    <div class="sidebar-brand sidebar-gone-show"><a href="index.html">Stisla</a></div>
      <ul class="sidebar-menu">
        <li class="menu-header active">Dashboard</li>
          <li class="dropdown active">
            <a href="#" class="nav-link active"><i class="fas fa-fire"></i><span>Dashboard</span></a>
          </li>

          <li class="menu-header">Persediaan</li>
            <% if can? :create, MaterialTransaction or can? :update, MaterialTransaction or can? :create, MaterialProcurement %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-boxes"></i> <span>Persediaan</span></a>
                <ul class="dropdown-menu">
                  <% if can? :create, MaterialProcurement and current_user.role.eql?("pengawas_konfeksi") %>
                    <li><%= link_to "Create Request Pembelian", add_request_web_admin_inventories_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :read, MaterialProcurement %>
                  <li><%= link_to "List Request Pembelian", list_request_web_admin_inventories_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :create, MaterialTransaction and current_user.role.eql?("pengawas_konfeksi") %>
                    <li><%= link_to "Create Transaksi", add_transaction_web_admin_inventories_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :read, MaterialTransaction %>
                    <li><%= link_to "List Transaksi Persediaan", list_transaction_web_admin_inventories_path, class: "nav-link" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if can? :read, Material %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-mortar-pestle"></i> <span>Material</span></a>
                <ul class="dropdown-menu">
                  <% if can? :read, Material %>
                    <li><%= link_to "List Material", web_admin_materials_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :read, MaterialRequest %>
                    <li><%= link_to "List Request Material", list_request_web_admin_materials_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :create, Material %>
                    <li><%= link_to "Create Material", add_web_admin_materials_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :create, MaterialRequest and current_user.role.eql?("pengawas_produksi") %>
                    <li><%= link_to "Create Request Material", add_request_web_admin_materials_path, class: "nav-link" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if can? :read, Supplier %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-truck-loading"></i> <span>Supplier</span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "List Supplier", web_admin_suppliers_path, class: "nav-link" %></li>
                  <% if can? :create, Supplier %>
                    <li><%= link_to "Create Supplier", add_web_admin_suppliers_path, class: "nav-link" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if can? :create, Category %>
                <li class="dropdown">
                  <%= link_to '<i class="fas fa-tag"></i> <span>Category</span>'.html_safe, list_web_admin_categories_path, class: "nav-link" %>
                </li>
            <% end %>
            <% if can? :create, Product %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-tshirt"></i> <span>Product</span></a>
                <ul class="dropdown-menu">
                  <% if can? :read, Product %>
                    <li><%= link_to "List Product", list_web_admin_products_path, class: "nav-link" %></li>
                  <% end %>
                  <% if can? :create, Product %>
                    <li><%= link_to "Create Product", add_web_admin_products_path, class: "nav-link" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>

          <% if can? :create, Customer or can? :create, Order or can? :read, Order %>
          <li class="menu-header">Order</li>
            <% if can? :create, Customer %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-user-tie"></i> <span>Customer</span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "List Customer", web_admin_customers_path, class: "nav-link" %></li>
                  <li><%= link_to "Create Customer", add_web_admin_customers_path, class: "nav-link" %></li>
                  </ul>
              </li>
            <% end %>
            <% if can? :create, Order %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-handshake"></i> <span>Order</span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "List Order", list_web_admin_orders_path, class: "nav-link" %></li>
                  <% if current_user.role.eql?("owner") %>
                    <li><%= link_to "Create Order", add_negotiation_web_admin_orders_path, class: "nav-link" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if can? :read, Order %>
              <li class="dropdown">
                <%= link_to '<i class="fas fa-industry"></i> <span>Production</span>'.html_safe, list_web_admin_productions_path, class: "nav-link" %>
              </li>
            <% end %>
          <% end %>


          <% if can? :create, User %>
            <li class="menu-header">Kepegawaian</li>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-id-badge"></i> <span>Employment</span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "List Employees", web_admin_employees_path, class: "nav-link" %></li>
                  <li><%= link_to "Create Employee", add_web_admin_employees_path, class: "nav-link" %></li>
                 </ul>
              </li>
          <% end %>

          <li class="menu-header">Report</li>
            <% if can? :create, Report or can? :read, Report %>
              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-paste"></i> <span>Report</span></a>
                <ul class="dropdown-menu">
                  <% if can? :create, Report and (current_user.role.eql?("pengawas_produksi") || current_user.role.eql?("pengawas_konfeksi")) %>
                    <li><%= link_to "Create Report", create_web_admin_reports_path, class: "nav-link" %></li>
                  <% end %>
                  <% if current_user.role.eql?("owner") %>
                    <li><%= link_to "List Report", user_report_web_admin_reports_path, class: "nav-link" %></li>
                  <% end %>
                  <% if current_user.role.eql?("sekretaris") || current_user.role.eql?("owner") %>
                    <li><%= link_to "Report Material Request", material_request_web_admin_reports_path, class: "nav-link" %></li>
                    <li><%= link_to "Report Material Transaction", material_transaction_web_admin_reports_path, class: "nav-link" %></li>
                    <li><%= link_to "Report Order", order_web_admin_reports_path, class: "nav-link" %></li>
                  <% end %>
                 </ul>
              </li>
            <% end %>
      </ul>
    </div>
  </aside>
</div>
