<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Is Change by Owner</th>
            <th>Last Updated</th>
            <th width="200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |request, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= request.request_date.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= get_badge_request(request.status.upcase).html_safe %></td>
              <td><b><%= request.is_change.to_s.upcase %></b></td>
              <td><%= request.updated_at.strftime("%d %B %Y at %l:%M %P") %></td>
              <td>
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                  <%= link_to "<i class='far fa-edit'></i> Detail Request".html_safe, detail_request_web_admin_inventories_path(request), class: "btn btn-info" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
