<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_request_web_admin_inventories_path, method: "post") do |f| %>
        <div class="section-title mt-0">Buat Request Baru</div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            <!-- <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#contact_01" data-toggle="tab">Material #1</a><span class="close-tab">x</span>
              </li>
              <li><a href="#" class="add-contact">+ Add Contact</a>
              </li>
            </ul> -->
            <div class="form-group">
              <label>Material</label>
              <select id="material-option" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <% Material.active.each do |material| %>
                    <option value="<%= material.id %>"><%= material.name %> / <%= material.unit %></option>
                  <% end %>
              </select>
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <%= text_field_tag :quantity, "", class: "form-control qnt", required:true, id:"only-numbers", maxlength: 5 %>
            </div>
            <div class="form-group">
              <button type="button"
                class="btn btn-icon icon-left btn-primary btn-lg w-100"
                id="btn-add-items"
              >
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <table class="table table-bordered" id="table-item">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Material</th>
                    <th>Quantity</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr class="no-item-td text-center">
                  <td colspan="4"><b>No Item</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <input type="hidden" value="" id="items" name="items">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
