<div class="card">
  <div class="card-body">
    <%= form_tag(update_request_web_admin_inventories_path(@request.id), method: "post") do |f| %>
      <table class="table table-bordered" style="font-weight: bold">
        <tr>
          <td width="200px">Request Date</td>
          <td><%= @request.request_date.strftime("%d %B %Y at %l:%M %P") %></td>
        </tr>
        <tr>
          <td>Request By</td>
          <td><%= @request.user.personnel.present? ? @request.user.personnel.full_name + "-" : "" %><%= @request.user.email %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= get_badge_request(@request.status.upcase).html_safe %></td>
        </tr>
      </table>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center" width="50px">
                #
              </th>
              <th>Material Name</th>
              <th>Material Common Price</th>
              <th>Stock saat ini</th>
              <th width="150px">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @request.material_procurement_items.each_with_index do |request, i| %>
              <tr>
                <td class="text-center">
                  <%= i + 1 %>
                </td>
                <td><%= request.material.name %> / <%= request.material.unit %></td>
                <td>Rp <%= number_with_delimiter(request.material.common_price.to_i, delimiter: ".") %></td>
                <td><%= request.material.stock %></td>
                <% if @request.status.eql?("pending") %>
                  <td><%= text_field_tag "quantity[]", request.quantity, class: "form-control qnt", required:true, id:"only-numbers", maxlength: 5 %></td>
                <% else %>
                  <td>
                    <%= request.quantity %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @request.status.eql?("pending") and current_user.role.eql?("owner") %>
          <div class="row mr-0 ml-0">
            <div class="col-6 col-md-6 col-lg-6 col-sm-12 ">
              <%= button_tag  '<i class="far fa-check-square"></i> Tolak'.html_safe , name: "status",value: "tolak", class: "btn btn-icon icon-left btn-danger btn-lg w-100" %>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-sm-12 ">
              <%= button_tag  '<b><i class="far fa-check-square"></i>Ubah & Setujui</b>'.html_safe , name: "status",value: "setuju", class: "btn btn-icon icon-left btn-info btn-lg w-100"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
