<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
      <%= form_tag(create_transaction_web_admin_inventories_path, method: "post", multipart: true) do |f| %>
        <div class="section-title mt-0">Buat Transaksi</div>
        <div class="alert alert-light alert-has-icon">
          <div class="alert-icon"><i style="font-size: 32px;" class="fas fa-exclamation"></i></div>
          <div class="alert-body">
            <div class="alert-title">Perhatian</div>
            <p style="font-size: 16px">Transaksi hanya bisa dibuat ketika <%= link_to "<b>Request Persediaan</b>".html_safe, list_request_web_admin_inventories_path %> telah <b>dibuat & disetujui oleh owner</b>.</p>
          </div>
        </div>

        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#detailRequest" role="button" aria-expanded="false" aria-controls="detailRequest">Show Detail Request</a>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#detailRequestItems" aria-expanded="false" aria-controls="detailRequestItems">Show List Material</button>
        </p>
        
        <% if @request.present? %>

          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <div class="collapse multi-collapse" id="detailRequest">
                <table class="table table-bordered" style="font-weight: bold">
                  <tr>
                    <td width="200px">Request Date</td>
                    <td><%= @request.request_date.strftime("%d %B %Y at %l:%M %P") %></td>
                  </tr>
                  <tr>
                    <td>Request By</td>
                    <td><%= @request.user.personnel.present? ? @request.user.personnel.full_name + "-" : "" %><%= @request.user.email %></td>
                  </tr>
                  <tr>
                    <td>Review By</td>
                    <td><%= @request.reviewer.email %></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td><%= get_badge_request(@request.status.upcase).html_safe %></td>
                  </tr>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="table-responsive collapse multi-collapse show" id="detailRequestItems">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" width="200px">
                        #
                      </th>
                      <th>Material Name</th>
                      <th>Material Common Price</th>
                      <th width="5%">Quantity</th>
                      <th width="12%">Quantity Buyed</th>
                      <th width="12%">Price Sub Total</th>
                      <th width="16%">Supplier</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @request.material_procurement_items.each_with_index do |request, i| %>
                      <tr>
                        <td class="text-center">
                          <%= i + 1 %>
                        </td>
                        <td><%= request.material.name %> / <%= request.material.unit %></td>
                        <td>Rp <%= number_with_delimiter(request.material.common_price.to_i, delimiter: ".") %></td>
                        <% if @request.status.eql?("pending") %>
                          <td><%= text_field_tag "quantity[]", request.quantity, class: "form-control qnt", required:true, id:"only-numbers", maxlength: 5 %></td>
                        <% else %>
                          <td>
                            <%= request.quantity %>
                          </td>
                        <% end %>
                        <td>
                          <%= text_field_tag "quantities[]", "", class: "form-control qnt only-numbers buyed-qnt", required: true, maxlength: 5 %>
                        </td>
                        <td>
                          <%= text_field_tag "prices[]", "", class: "form-control qnt only-numbers buyed-price", required: true, maxlength: 8 %>
                        </td>
                        <td>
                          <%= select_tag "suppliers[]", options_from_collection_for_select(Supplier.active, "id", "name"), class: "form-control" %>
                        </td>
                      </tr>
                    <% end %>
                    <tr style="font-weight: bold">
                      <% expec = @request.expected_total %>
                      <td>Expected Total</td>
                      <td><%= expec[:material] %> kind(s)</td>
                      <td>Rp <%= number_with_delimiter(expec[:total].to_i, delimiter: ".") %></td>
                      <td><%= expec[:quantity] %></td>
                      <td><div class="badge badge-success" style="font-size: 16px;" id="qnt-buyed"></div></td>
                      <td colspan="2"><div class="badge badge-success" style="font-size: 16px;" id="price-buyed"></div></td>
                    </tr>
                    <tr style="font-weight: bold">
                      <td>Upload Transaksi</td>
                      <td colspan="6">
                        <div class="custom-file">
                          <%= file_field_tag :bill_image, accept: 'image/png,image/jpg,image/jpeg', class: "custom-file-input", id: "customFile"  %>
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="row">

              </div>
          </div>
        </div>

        <input type="hidden" value="" id="items" name="items">

        <div class="row mt-4">
          <div class="col-12 col-md-12 col-lg-12 col-sm-12">
            <button id="submit-aja" class="btn btn-icon icon-left btn-primary btn-lg float-right"><i class="far fa-edit"></i> Submit</button>
            <button type="reset" class="btn btn-icon icon-left btn-secondary btn-lg float-right mx-3"><i class="fas fa-undo-alt"></i> Reset</button>
          </div>
        </div>

        <% end %>

      <% end %>
    </div>
  </div>
</div>
