<div class="card">
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="section-title mt-0">Detail Transaksi</div>
        <div class="alert alert-light alert-has-icon">
          <div class="alert-icon"><i style="font-size: 32px;" class="fas fa-exclamation"></i></div>
          <div class="alert-body">
            <div class="alert-title">Perhatian</div>
            <p style="font-size: 16px">Transaksi hanya bisa dibuat ketika <%= link_to "<b>Request Persediaan</b>".html_safe, list_request_web_admin_inventories_path %> telah <b>dibuat & disetujui oleh owner</b>.</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">
            
            <div class="btn-group btn-group-lg pull-left w-100" role="group" aria-label="Basic example">
              <button class="btn btn-primary transaction-detail w-50" data-toggle="collapse" data-target="#detailRequest" role="button" aria-expanded="false">Show Detail Transaction</button>
              <button class="btn btn-danger transaction-detail w-50" type="button" data-toggle="collapse" data-target="#detailRequestItems" aria-expanded="false" aria-controls="detailRequestItems">Show Items</button>
            </div>

          </div>
          <div class="col-6 col-md-6 col-lg-6 col-sm-12">

            <div class="btn-group btn-group-lg pull-right w-100 transaction-detail" role="group" aria-label="Basic example">
              <button id="show-bill-image" class="btn btn-warning w-50 transaction-detail" type="button">Lihat Nota</button>
              <button id="show-payment-image" class="btn btn-success w-50 transaction-detail" type="button">Lihat Konfirmasi Pembayaran</button>
            </div>

          </div>
        </div>
        
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
              <div class="collapse multi-collapse show" id="detailRequest">
                <table class="table table-bordered" style="font-weight: bold; font-size: 16px;">
                  <tr>
                    <td style="width: 200px;">Invoice</td>
                    <td>
                      <%= @transaction.invoice %>
                    </td>
                    <td style="width: 200px;">Order Date</td>
                    <td><%= @transaction.order_date.strftime("%d %B %Y at %l:%M %P") %></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td><%= get_badge_transaction(@transaction.order_status.upcase).html_safe %></td>
                    <td>Total</td>
                    <td>Rp <%= number_with_delimiter(@transaction.total.to_i, delimiter: ".") %></td>
                  </tr>
                  <tr>
                    <td>Payment Date</td>
                    <td><%= @transaction.payment_date.nil? ? "-" : @transaction.payment_date.strftime("%d %B %Y at %l:%M %P") %></td>
                    <td>Finish Date</td>
                    <td><%= @transaction.finish_date.nil? ? "-" : @transaction.finish_date.strftime("%d %B %Y at %l:%M %P") %></td>
                  </tr>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="table-responsive collapse multi-collapse" id="detailRequestItems">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" width="200px">
                        #
                      </th>
                      <th>Material Name</th>
                      <th>Supplier</th>
                      <th>Quantity</th>
                      <th>Sub total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transaction.material_transaction_items.each_with_index do |item, i| %>
                      <tr>
                        <td class="text-center">
                          <%= i + 1 %>
                        </td>
                        <td><%= item.material.name %> / <%= item.material.unit %></td>
                        <td><%= item.supplier.name %></td>
                        <td><%= item.quantity %></td>
                        <td>Rp <%= number_with_delimiter(item.sub_total.to_i, delimiter: ".") %></td>
                      </tr>
                    <% end %>
                    <tr style="font-weight: bold">
                      <td class="text-center">
                        Total
                      </td>
                      <td colspan="2"><%= @transaction.material_transaction_items.count %> kind(s)</td>
                      <td><%= @transaction.material_transaction_items.sum(:quantity) %> item(s)</td>
                      <td>Rp <%= number_with_delimiter(@transaction.material_transaction_items.sum(:sub_total).to_i, delimiter: ".") %></td>
                    </tr>
                  </tbody>
                </table>

                <div class="divider w-100 mt-3 mb-3" style="border: 1px solid #efefef;"></div>
              </div>

              <div class="row">

              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<% if !@transaction.bill_image.file.nil? %>

<%= image_tag(@transaction.bill_image.url, alt: "Bill Image", id: "showBillImage", class:"thumb-image-w-200 hidden") %>

<% end %>

<% if !@transaction.payment_image.file.nil? %>

<%= image_tag(@transaction.payment_image.url, alt: "Payment Image", id: "showPaymentImage", class:"thumb-image-w-200 hidden") %>

<% end %>