<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped dataTables" id="dataTables">
        <thead>
          <tr>
            <th class="text-center"  width="50px">
              #
            </th>
            <th>Order Date</th>
            <th>Invoice</th>
            <th>Order Status</th>
            <th>Payment Date</th>
            <th>Finish Date</th>
            <th>Total</th>
            <th>Buy Request</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each_with_index do |transaction, i| %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td><%= transaction.order_date.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= transaction.invoice %></td>
              <td><%= get_badge_transaction(transaction.order_status.upcase).html_safe %></td>
              <td><%= transaction.payment_date.nil? ? "-" : transaction.payment_date.strftime("%d %B %Y at %l:%M %P") %></td>
              <td><%= transaction.finish_date.nil? ? "-" : transaction.finish_date.strftime("%d %B %Y at %l:%M %P") %></td>
              <td>Rp <%= number_with_delimiter(transaction.total.to_i, delimiter: ".") %></td>
              <td>
                <%= link_to "Detail Request ##{transaction.material_procurement.id}".html_safe, detail_request_web_admin_inventories_path(transaction.material_procurement.id) if transaction.material_procurement.present?  %>
                </td>
              <td>
                <div class="btn-group btn-group-lg justify-content-center align-items-center w-100" role="group" aria-label="Basic example">
                  <%= link_to "<i class='far fa-eye'></i> Detail transaction".html_safe, detail_transaction_web_admin_inventories_path(transaction), class: "btn btn-info" %>
                  <% if (transaction.order_status.eql?("paid") and current_user.role.eql?("pengawas_konfeksi")) or (transaction.order_status.eql?("payment_pending") and current_user.role.eql?("owner")) %>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#updateStatusTransaction" data-whatever="<%= transaction.invoice %>" data-status="<%= transaction.order_status.humanize.split.map(&:capitalize)*' ' %>"><i class='far fa-edit'></i> Update Status</button>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer bg-whitesmoke">
    This is card footer
  </div>
</div>
