<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Konfeksi MARKEN - Page Title</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload'%>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#order">Cek Pesanan</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="masthead-layer">
      <div class="container text-center my-auto">
        <h3 class="mb-1 white-color">
          <em>Selamat Datang di</em>
        </h3>
        <h1 class="mb-1 white-color">Konfeki Margahayu Kencana</h1>
        <h3 class="mb-5 white-color">
          <em>Apakah anda ingin memeriksa pesanan anda?</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#order">Periksa Pesanan</a>
      </div>
      <div class="overlay"></div>
    </div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="order">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1><%= "Periksa Pesanan".upcase %></h1>
          <div class="row mt-5 mb-5 w-100">
            <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <%= text_field_tag :invoice, "", class: "form-control form__input w-100", placeholder: "Masukkan no Invoice anda!", id:"invoice" %>
                    <label for="invoice" class="form__label">Masukkan Invoice</label>
                  </div>
                  <div class="col-6">
                    <%= text_field_tag :token, "", class: "form-control form__input w-100", placeholder: "Masukkan token invoice anda!", id:"token" %>
                    <label for="token" class="form__label">Masukkan Token</label>
                  </div>
                </div>
            </div>
          </div>
          <a class="btn btn-dark btn-lg js-scroll-trigger" id="checkOrderButton" href="#services">Periksa Pesanan</a>
        </div>
      </div>
      <div class="row mt-5">
        <div id="dataOrder" class="mx-auto w-100"></div>
      </div>
    </div>
  </section>

  <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://maps.google.com/maps?q=Margahayu%20kencana&t=&z=17&ie=UTF8&iwloc=&output=embed"></iframe>
    <br />
  </div>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <p class="text-muted small mb-0">Copyright &copy; Konfeksi Margahayu Kencana 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <%= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload'%>

</body>

</html>
