<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Konfeksi MARKEN - <%= get_page_action(action_name) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

  <%= javascript_include_tag Ckeditor.cdn_url, 'data-turbolinks-track': 'reload'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div class="main-wrapper">

      <%= render "layouts/webadmin/navbar" %>
      <%= render "layouts/webadmin/sidebar" %>

      <% if !controller_name.eql?("dashboard") %>
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1><%= controller_name.capitalize %> - <%= get_page_action(action_name) %></h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <%# <div class="breadcrumb-item"><a href="#">Layout</a></div>
                <div class="breadcrumb-item">Default Layout</div> %>
              </div>
            </div>

            <div class="section-body">

              <%= render "layouts/webadmin/maintop" %>
              <%= yield %>

            </div>
          </section>
        </div>
      <% else %>
        <div class="main-content">
          <%= yield %>
        </div>
      <% end %>

      <%= render "layouts/webadmin/footer" %>

    </div>
  </div>
  <!-- Trigger the Modal -->

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01" style="max-width: 800px;">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>

  <%= render "layouts/modals/"+@modal if @modal.present? %> 
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</html>
